basecamp:

  # Basecamp credentials
  username: paologlim
  password: somepassword

  # The resource url to fetch events
  # ref: https://github.com/37signals/bcx-api/
  resource_url: https://basecamp.com/123456/api/v1/projects/123456-project/events.json

  # The type of events to fetch
  # Options: project, calendar
  resource_type: project

  # Just a name passed on to basecamp. Can be anything.
  app_name: hipcamp

  # The latest event id from the events returned by the resource url
  # This is only applicable for project type events
  last_event_id: 123456
hipchat:

  # Hipchat token
  token: 123456789

  # The channel to post to
  channel: Announcements

  # Color of the messages
  color: green

  # Fields from the basecamp events to include in the messages
  message_fields:
  - summary
  - excerpt

  # Template of messages
  message_template: "%s:%s<br/>%s"

  # The display format of messages
  # Options: html, text
  message_format: text